<div class="container pt-4">
  <div class="row">
    <div class="col-12">
      <h1>Exile</h1>
      <p>An extremely simple to use NoSQL store which follows REST-like resource locators known as paths to locate records and define relations between data.</p>
      <hr/>
      <h2>Try Exile</h2>
      <p>Your Database Prefix is <code><%= @prefix %>.</code></p>
    </div>
  </div>
</div>
