.DS_Store
*.beam
*.ez
/*.ez
/.fetch
/apps/*/cover
/apps/exile_web/assets/node_modules
/apps/exile_web/assets/.fontcustom-manifest.json
/apps/exile_web/priv/static/
!/apps/exile_web/priv/static/.keep
/config/*.env
/config/*.secret.exs
/cover
/db
/deps
/doc
/infra/aws-keypair.*
/infra/aws-secrets.*
!/infra/aws-secrets.sh
/infra/aws-stack-parameters.*
!/infra/aws-stack-parameters.sh
/infra/seeds.*.exs
/priv/cert/*
/priv/keys/*
/releases
/_build
erl_crash.dump
npm-debug.log
.idea/
*.iml
