<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:title] || "Exile" %></title>
    <%= for stylesheet_path <- stylesheet_paths(assigns) do %>
      <link rel="stylesheet" href="<%= stylesheet_path %>">
    <% end %>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">
          Presented by The Bodgemasters
          • <a href="https://github.com/holsee" target="_blank">holsee</a>
          | <a href="https://github.com/evadne" target="_blank">evadne</a>
          | <a href="https://github.com/bgottlob" target="_blank">bgottlob</a>
        </span>
      </div>
    </footer>
    <%= if assigns[:payload] do %>
      <script type="application/json" id="payload">
        <%= URI.encode(Jason.encode!(assigns[:payload])) %>
      </script>
    <% end %>
    <%= for script_path <- script_paths(assigns) do %>
      <script type="text/javascript" src="<%= script_path %>"></script>
    <% end %>
  </body>
</html>
