@import "preamble";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #f5f5f5;
}

pre, code {
  white-space: pre-line;
}

.console-history {
  list-style: none;
  padding: 0;
  font-family: monospace;
  font-size: 1.5em;
}

.console-history li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: pre;
  overflow-x: auto;
  max-width: 100%;
}

.console-history li.request {
  color: black;
}

.console-history li.response {
  color: blue;
}

.console-history li.message {
  color: green;
}

.console-history li.error {
  color: red;
}

.console-history li.log {
  color: gray;
}

.console-form input {
  width: 100%;
  font-family: monospace;
  word-wrap: break-word;
  word-break: break-all;
}

.console-shortcuts {
  list-style: none;
  padding: 0;
}

.console-shortcuts li {
  margin-top: 1em;
  padding-top: 1em;
}

.console-shortcuts li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

input.form-control[name="reference"],
input.form-control[name="command"] {
  font-family: monospace;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1.25em;
}
